<%- include('../partials/head') -%> 
<!-- Insert header.ejs -->
    <title>Index Page</title>
<%- include('../partials/nav') -%> 
<!-- Insert nav.ejs -->
<div class="content-container">
    <section class="content-container-section">
        <h1>Index Page</h1>
    </section>
    <section class="content-container-2">
        <!-- Content Outline Here based off page needs -->
        <p class="expansion">Map of the Globe</p>
        <a href="/views/pages/map"></a><img src="/img/map-image.png" class="photo-image" alt="Image of a United States map with pins in it">
    </section>
    <section class="content-container-2">
        <!-- Content Outline Here based off page needs -->
        <p class="expansion">Photo Gallery</p>
        <a href="/views/pages/photogallery"></a><img src="/img/photo-gallery.jpeg" class="photo-image" alt="A picture of a scrapbook titled 'My Adventure Book'.">
    </section>
    <section class="content-container-2">
        <!-- Content Outline Here based off page needs -->
        <p class="expansion">Video Showcase of Practitioners</p>
        <a href="/views/pages/videogallery"></a><img src="./img/comeout_videos_image.webp" class="photo-image" alt="There is a stock image of the Youtube icon in rainbow colors superimposed on the 'Progress Pride Flag.'">
    </section>
    <section class="content-container-2">
        <!-- Content Outline Here based off page needs -->
        <p class="expansion">Contact Us</p>
        <a href="/views/pages/contactus"></a><img src="/img/contact-us.jpeg" class= "photo-image" alt="On a black chalkboard, there is a depiction of an envelope, a phone and the at symbol over the word 'Contact Us', near a hand with chalk in the person's fingertips.">
    </section>
</div>
<!-- Insert footer.ejs -->
<%- include('../partials/footer') -%> 

