<%- include('../partials/head') -%> 
<!-- Insert header.ejs -->
    <title>Login</title>
<%- include('../partials/nav') -%> 
<!-- Insert nav.ejs -->
<div class="content-container">
    <section class="content-container-section">
    <h1>Login Page</h1>
    </section>
    <section class="content-container-2">
        <form action="/" method="POST" type="text">
            <legend>
                <fieldset>
                    <label for="Email">Email Address</label>
                    <input type="Email" name="Email" id="Email" placeholder="Email" minlength="10" required />
                </fieldset>
                <br>
                <fieldset>
                    <label for="Password">Password</label>
                    <input type="Password" name="Password" id="Password" placeholder="Password" minlength="6" required />
                </fieldset>
                <br>
                <section class= "center-button">
                <input type="Submit"  class="yellow-button" value="Submit">
                </section>
            </legend>
        </form>
    </section>
</div>
<!-- Insert footer.ejs -->
<%- include('../partials/footer') -%> 