<%- include('../partials/head') -%> 
<!-- Insert header.ejs -->
    <title>Map</title>
<%- include('../partials/nav') -%> 
<!-- Insert nav.ejs -->
<div class="content-container">
    <section class="content-container-section">
        <h1>Map Page</h1>
    </section>
    <section class="content-container-2">
        <a href="/views/pages/map"></a><img src="/images/map-image.png" class="photo-image" alt="Image of a United States map with pins in it">
    </section>
    <section class="content-container-2">
        <!-- Content Outline Here based off page needs -->
        <h3 class="center-text-paragraph">The Primary Practicum Projects</h3>
        <p> This section will expand more upon the premise of the PPP, as well as the region the students cover/live in. </p>
    </section>
</div>
<!-- Insert footer.ejs -->
<%- include('../partials/footer') -%> 