<%- include('../partials/head') -%> 
<!-- Insert header.ejs -->
    <title>Video Showcase of Practitioners</title>
<%- include('../partials/nav') -%> 
<!-- Insert nav.ejs -->
<div class="content-container">
    <section class="content-container-section">
    <h1>Video Showcase of Practitioners</h1>
    <!-- Content Outline Here based off page needs -->
    </section>
    <section class="content-container-2">
        <a href="/views/pages/videogallery"></a><img src="./images/comeout_videos_image.webp" class="photo-image" alt="There is a stock image of the Youtube icon in rainbow colors superimposed on the 'Progress Pride Flag.'">
    </section>
    <section class="content-container-2">
        <p>This is a potential summary/synopsis about the video being showcased here. There may be a transcript provided. In addition, there may be other pertinent information here.
        </p>
    </section>
</div>
<!-- Insert footer.ejs -->
<%- include('../partials/footer') -%> 
