/* General --> then media query */
 /* the LAST thing is enforced --> cascading */
/* General/For Everything */
.mobile-container > .nav-bar li {
    /* max-width: 768px; */
    margin: auto;
    height: 70px;
    color:var(--heliotrope-gray);
    border-radius: 2px;
    overflow: hidden;
    position: relative;
}

body {
    width: 100%;
    max-width: 100vw;
    margin: auto;
    overflow-x: hidden;
    font-size: 1.2rem;
    height: auto;
    background-color: var(--blue-munsell , --electric-blue);
    font-family: 'Roboto', sans-serif; 
}

:root {
    --indigo-dye:#023B58;
    --blue-munsell:#0091AD;
    --electric-blue:#6EFAFB;
    --cosmic-latte:#FFF4E4;
    --medium-champagne:#F7E8A4;
    --hot-pink:#FF57BB;
    --heliotrope-gray:#023B58;
    color: var(--blue-munsell);
    color: var(--electric-blue);
};

.grad {
    height: auto;
    background-color: var(--blue-munsell , --electric-blue);
}

img {
    width: 100px;
}

.map-image {
    width: 80%;
    padding: 0%;
}

header {
    background-color: var(--medium-champagne);
    width: auto;
    padding-left: 25px; 
    border-bottom: solid 5px var(--heliotrope-gray);
    font-family: 'Fredericka the Great', cursive;
}

.link-styling {
    padding: 0.2%;
}

.link-styling a:link {
    color: var(--heliotrope-gray);
    text-decoration: none;
}

.link-styling a:visited {
    color: var(--heliotrope-gray);
    text-decoration: none;
}

.link-styling a:hover {
    color: var(--blue-munsell);
    font-weight: bold;
}

.link-styling a:active {
    color: var(--cosmic-latte);
    background-color: var(--hot-pink);
    font-weight: bold;} 

.content-container {
    margin: 60px;
    padding: 10px;
    border-top: solid 5px var(--indigo-dye);
    border-right: solid 5px var(--indigo-dye);
    border-bottom: solid 5px var(--indigo-dye);
    border-left: solid 5px var(--indigo-dye);
    background-color: var(--cosmic-latte);
    color: var(--indigo-dye);
}

.content-container-2 {
    margin: 30px;
    padding: 20px;
    border-top: solid 5px var(--indigo-dye);
    border-right: solid 5px var(--indigo-dye);
    border-bottom: solid 5px var(--indigo-dye);
    border-left: solid 5px var(--indigo-dye);
    background-color: var(--cosmic-latte);
    color: var(--indigo-dye);
    list-style-type: none;
    text-align: left;
    display: flex; 
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}

/* .center-text */
h1 {
    text-align: center;
    margin: 10px auto;
    padding: 0, 10px;
    font-style: italic;
    font-family: 'Fredericka the Great', cursive;
} 

/* .center-text */
h2, p { 
    text-align: center;
    margin: 10px auto;
    padding: 0, 10px;
    font-family: 'Roboto', sans-serif;
}

/* FOR THE P TAGS */
.center-text-paragraph {
    text-align: center;
    word-wrap: break-word;
} 

h3 {
    text-align: center;
    margin: 10px auto;
    padding: 0, 10px;
    font-style: italic;
    font-family: 'Fredericka the Great', cursive;
    color: var(--blue-munsell);
} 

.center-text-line-items > li {
    list-style-type: none;
    text-align: center;
    padding: 0%;
} 

.left-text-line-items > li {
    list-style-type: none;
    text-align: left;
    padding: 0%;
} 

.right-text > li {
    list-style-type: none;
    text-align: right;
    padding-right: 5%;
} 

footer {
    background-color: var(--hot-pink);
    width: auto;
    color: var(--cosmic-latte);
    padding-left: 2.5%;
    font-size: 1rem;
    border-top: solid 5px var(--heliotrope-gray);
    font-family: 'Roboto', sans-serif;
}

.border {
    list-style-type: none;
    text-align: left;
    display: flex; 
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

/* for FORMS --> */
.mini-container-form {
    margin: auto;
    padding: 5px;
    text-align: center;
}

/* for the headers in the footer */
.mini-container {
    margin: auto;
    padding: 10px;
    text-align: center;
    border: solid 5px var(--cosmic-latte);
    background-color: var(--medium-champagne);
    color: var(--heliotrope-gray);
} 

.nav.bar li {
    list-style-type: none;
    display: inline-block;
    margin: 10px 20px;
    padding: 10px 20px;
    text-align: center;
    font-family: 'Fredericka the Great', cursive;
}

.yellow-button {
    background-color: var(--medium-champagne);
}

.center-button {
    display: flex; 
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
} 

/* Font Awesome */
fa-brands {
    background-color: var(--medium-champagne);
    color: var(--electric-blue);
    list-style-type: none;
    text-align: center;
    padding: 0%;
    width: 10%;
    height: 20%;
}

fieldset {
    display: block;
    border-color: var(--cosmic-latte);
}

*{
    box-sizing: border-box;
}
/* Media Query --> specific parameters for css code to operate in */
/* Mobile Design [mobile container] */
@media screen and (min-width: 320px) and (max-width: 768px) {
    .mobile-container {
        display: flex;
    }
    .mobile-container > .nav-bar {
        display: none;
    }
    .mobile-container > .hamburger {
        overflow: visible;
        position: relative;
        padding: 14px;
        display: flex;
        flex-wrap: nowrap;
        justify-content: flex-end;
        align-items: flex-end;
    }
    .border > div {
        /* background-color: var(--); */
        width: auto;
        color: var(--cosmic-latte);
        min-width: 420px;
        margin: auto;
        overflow: visible;
        position: relative;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: space-evenly;
        }
}
    
/* Tablet Design [hamburger] */
@media screen and (min-width: 768px) and (max-width: 1024px) {
.hamburger {
    overflow: hidden;
    position: relative;
    display: none; 
    }
}
/* ABOVE DONE */

/* BELOW TO WORK ON */
/* CP Replika */

/* PHOTO GALLERY */
/* table {

} */

/* button-styling {

} */

/* IDK WE'LL SEE */

/* section {
     background-color:var(--light-teal); 
} */
