/* General --> then media query */

/* General/For Everything */
/* body {
    width: 100%;
   max-width: 100vw;
   margin: auto;
   overflow-x: hidden;
   font-size: 1.4rem;
   height: auto;
   background-image:
   font-family: 
} */

:root {
    --indigo-dye: #023B58;
    --blue-munsell: #0091AD;
    --electric-blue: #6EFAFB;
    --cosmic-latte:#FFF4E4;
    --medium-champagne:#F7E8A4;
    --hot-pink:#FF57BB;
    --heliotrope-gray:#023B58;
    /* the gradient */
    /* color: var(--);
    color: var(--); */
}

/* Test Code 3-9-22 [DOES WORK] */
/* section {
    background-color: #F7E8A4;
} */

/* CP Replika */
/* One long comment - from line 10 to 64, when you uncomment */
/* h1, h2, p {

}

img {

}

header {

}

footer {

}

.border {
    Define the class
}

h3 {

}

.nav.bar {
    Define the class
}

.link-styling {
    Define the class
}

.content-container {
    Define the class
}

.content-container-2 {
    Define the class
}

.center-text {
    Define the class
}

table {

}

button-styling {

}

.mini-container {
    Define the class
} */

/* Get the CSS for form styling */

/* Media Query --> specific parameters for css code to operate in */
/* Mobile Design [mobile container] */
@media screen and (min-width: 320px) and (max-width: 768px) {}

/* Tablet Design [hamburger] */
@media screen and (min-width: 768px) and (max-width: 1024px) {}
